@import '~bootstrap/scss/bootstrap';

$black: #000;

.row {
  margin: auto;
  width: 50%;
}

.box {
  border: solid $black 2px;
  height: 150px;
}

.col-sm {
  color: blue;
  size: 50px;
}

.newgame {
  display: none;
  margin: auto;
}

.gameboard {

}
