@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Oswald');

$black: #000;
$primary-color: #0c3472;

body {
  overflow-y: hidden;
  overflow-x: hidden;
  min-height: 90vh;
}

@keyframes animate {
  0%   {color:white; bottom: -200px}
  100% {color:#0c3472; bottom: 800px;}
}
.animate {
  animation-fill-mode: both;
  animation-delay: 3s;
  font-size: 100px;
  font-weight: 900;
  z-index: -1;
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: animate;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

@keyframes animate2 {
  0%   {color:white;left:200px; bottom: -100px}
  100% {color:#0c3472;left:200px; bottom: 800px;}
}
.animate2 {
  transform: rotate(26deg);
  font-size: 100px;
  font-weight: 900;
  z-index: -1;
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: animate2;
  animation-duration: 17s;
  animation-iteration-count: infinite;
}

@keyframes animate3 {
  0%   {color:rgba(255,255,255,.8);left:400px; bottom: -100px}
  100% {color:#0c3472;left:400px; bottom: 900px;}
}
.animate3 {
  animation-fill-mode: both;
  animation-delay: 4s;
  font-size: 100px;
  font-weight: 900;
  z-index: -1;
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: animate3;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}

@keyframes animate4 {
  0%   {color:rgba(255,255,255,.8);left:600px; bottom: -100px}
  100% {color:#0c3472;left:600px; bottom: 1200px;}
}
.animate4 {
  animation-fill-mode: both;
  animation-delay: 1s;
  font-size: 100px;
  font-weight: 900;
  z-index: -1;
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: animate4;
  animation-duration: 16s;
  animation-iteration-count: infinite;
}

@keyframes animate5 {
  0%   {color:rgba(255,255,255,.8);left:800px; bottom: -100px}
  100% {color:#0c3472;left:800px; bottom: 1400px;}
}
.animate5 {
  font-size: 100px;
  font-weight: 900;
  z-index: -1;
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: animate5;
  animation-duration: 14s;
  animation-iteration-count: infinite;
}
@keyframes animate6 {
  0%   {color:rgba(255,255,255,.8);left:1000px; bottom: -100px}
  100% {color:#0c3472;left:1000px; bottom: 1100px;}
}

.animate6 {
  transform: rotate(21deg);
  animation-fill-mode: both;
  animation-delay: 6s;
  font-size: 100px;
  font-weight: 900;
  z-index: -1;
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: animate6;
  animation-duration: 13s;
  animation-iteration-count: infinite;
}

@keyframes animate7 {
  0%   {color:rgba(255,255,255,.8);left:1200px; bottom: -100px}
  100% {color:#0c3472;left:1200px; bottom: 1100px;}
}
.animate7 {
  font-size: 100px;
  font-weight: 900;
  z-index: -1;
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: animate7;
  animation-duration: 16s;
  animation-iteration-count: infinite;
}
@keyframes animate8 {
  0%   {color:rgba(255,255,255,.8);left:1400px; bottom: -100px}
  100% {color:#0c3472;left:1400px; bottom: 1300px;}
}

.animate8 {
  animation-fill-mode: both;
  animation-delay: 1s;
  font-size: 100px;
  font-weight: 900;
  z-index: -1;
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: animate8;
  animation-duration: 16s;
  animation-iteration-count: infinite;
}

@keyframes animate9 {
  0%   {color:white;left: 100px; bottom: -100px}
  100% {color:#0c3472;left: 100px; bottom: 1200px;}
}
.animate9 {
  animation-fill-mode: both;
  animation-delay: 2s;
  font-size: 100px;
  font-weight: 900;
  z-index: -1;
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: animate9;
  animation-duration: 13s;
  animation-iteration-count: infinite;
}

@keyframes animate10 {
  0%   {color:white;left:300px; bottom: -100px}
  100% {color:#0c3472;left:300px; bottom: 800px;}
}
.animate10 {
  font-size: 100px;
  font-weight: 900;
  z-index: -1;
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: animate10;
  animation-duration: 14s;
  animation-iteration-count: infinite;
}

@keyframes animate11 {
  0%   {color:rgba(255,255,255,.8);left:500px; bottom: -100px}
  100% {color:#0c3472;left:500px; bottom: 1400px;}
}
.animate11 {
  animation-fill-mode: both;
  animation-delay: 3s;
  font-size: 100px;
  font-weight: 900;
  z-index: -1;
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: animate11;
  animation-duration: 16s;
  animation-iteration-count: infinite;
}

@keyframes animate12 {
  0%   {color:rgba(255,255,255,.8);left:700px; bottom: -100px}
  100% {color:#0c3472;left:700px; bottom: 1200px;}
}
.animate12 {
  animation-fill-mode: both;
  animation-delay: 5s;
  font-size: 100px;
  font-weight: 900;
  z-index: -1;
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: animate12;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}

@keyframes animate13 {
  0%   {color:rgba(255,255,255,.8);left:900px; bottom: -100px}
  100% {color:#0c3472;left:900px; bottom: 1400px;}
}
.animate13 {
  transform: rotate(25deg);
  font-size: 100px;
  font-weight: 900;
  z-index: -1;
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: animate13;
  animation-duration: 11s;
  animation-iteration-count: infinite;
}
@keyframes animate14 {
  0%   {color:rgba(255,255,255,.8);left:1100px; bottom: -100px}
  100% {color:#0c3472;left:1100px; bottom: 1600px;}
}

.animate14 {
  animation-fill-mode: both;
  animation-delay: 2s;
  font-size: 100px;
  font-weight: 900;
  z-index: -1;
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: animate14;
  animation-duration: 16s;
  animation-iteration-count: infinite;
}

@keyframes animate15 {
  0%   {color:rgba(255,255,255,.8);left:1300px; bottom: -100px}
  100% {color:#0c3472;left:1300px; bottom: 1000px;}
}
.animate15 {
  transform: rotate(8deg);
  font-size: 100px;
  font-weight: 900;
  z-index: -1;
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: animate15;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}
@keyframes animate16 {
  0%   {color:rgba(255,255,255,.8);left:1450px; bottom: -100px}
  100% {color:#0c3472;left:1450px; bottom: 1300px;}
}

.animate16 {
  animation-fill-mode: both;
  animation-delay: 4s;
  font-size: 100px;
  font-weight: 900;
  z-index: -1;
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: animate16;
  animation-duration: 14s;
  animation-iteration-count: infinite;
}

@keyframes animate17 {
  0%   {color:white;left: 150px; bottom: -100px}
  100% {color:#0c3472;left: 150px; bottom: 1200px;}
}
.animate17 {
  animation-fill-mode: both;
  animation-delay: 6s;
  font-size: 100px;
  font-weight: 900;
  z-index: -1;
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: animate17;
  animation-duration: 14s;
  animation-iteration-count: infinite;
}

@keyframes animate18 {
  0%   {color:white;left:375px; bottom: -100px}
  100% {color:#0c3472;left:375px; bottom: 820px;}
}
.animate18 {
  transform: rotate(13deg);
  animation-fill-mode: both;
  animation-delay: 11s;
  font-size: 100px;
  font-weight: 900;
  z-index: -1;
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: animate18;
  animation-duration: 16s;
  animation-iteration-count: infinite;
}

@keyframes animate19 {
  0%   {color:rgba(255,255,255,.8);left:430px; bottom: -100px}
  100% {color:#0c3472;left:430px; bottom: 1100px;}
}
.animate19 {
  animation-fill-mode: both;
  animation-delay: 9s;
  font-size: 100px;
  font-weight: 900;
  z-index: -1;
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: animate19;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}

@keyframes animate20 {
  0%   {color:rgba(255,255,255,.8);left:565px; bottom: -100px}
  100% {color:#0c3472;left:565px; bottom: 1400px;}
}
.animate20 {
  animation-fill-mode: both;
  animation-delay: 9s;
  font-size: 100px;
  font-weight: 900;
  z-index: -1;
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: animate20;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

@keyframes animate21 {
  0%   {color:rgba(255,255,255,.8);left:770px; bottom: -400px}
  100% {color:#0c3472;left:770px; bottom: 1400px;}
}
.animate21 {
  animation-fill-mode: both;
  animation-delay: 10s;
  font-size: 100px;
  font-weight: 900;
  z-index: -1;
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: animate21;
  animation-duration: 13s;
  animation-iteration-count: infinite;
}
@keyframes animate22 {
  0%   {color:rgba(255,255,255,.8);left:1050px; bottom: -100px}
  100% {color:#0c3472;left:1050px; bottom: 1100px;}
}

.animate22 {
  animation-fill-mode: both;
  animation-delay: 10s;
  animation-fill-mode: both;
  animation-delay: 2s;
  font-size: 100px;
  font-weight: 900;
  z-index: -1;
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: animate22;
  animation-duration: 11s;
  animation-iteration-count: infinite;
}

@keyframes animate23 {
  0%   {color:rgba(255,255,255,.8);left:1220px; bottom: -100px}
  100% {color:#0c3472;left:1220px; bottom: 900px;}
}
.animate23 {
  transform: rotate(-14deg);
  animation-fill-mode: both;
  animation-delay: 6s;
  font-size: 100px;
  font-weight: 900;
  z-index: -1;
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: animate23;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}
@keyframes animate24 {
  0%   {color:rgba(255,255,255,.8);left:1330px; bottom: -100px}
  100% {color:#0c3472;left:1330px; bottom: 1300px;}
}

.animate24 {
  animation-fill-mode: both;
  animation-delay: 3s;
  font-size: 100px;
  font-weight: 900;
  z-index: -1;
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: animate24;
  animation-duration: 14s;
  animation-iteration-count: infinite;
}

button:hover {
  background-color: rgb(139, 150, 189);
  transition: background-color 1s;
  border-color: rgb(139, 150, 189);
}

button  {
  transition: background-color 1s;
  border-radius: 5px;
}

input {
  border-radius: 5px;
  box-shadow: 1px 4px 1px rgba(0,0,0,.25);
}

h1 {
  font-family: 'Archivo Narrow', sans-serif;
  letter-spacing: 2px;
  font-size: 48px;
  text-align: center;
  text-shadow: 1px 5px 0 rgba(0,0,0,.25);
  color: rgba(255,255,255,0.7);
}

#newgameBoard {
  display: inline-block;
  border-radius: 5px;
}
#backtoAccount {
  display: inline-block;
  border-radius: 5px;
}

#stats {
  color: white;
  height: 55vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.accounts {
  display: flex;
  flex-direction: column;
}

.showstats {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.passwordForm {
  height: 65vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.changePassSub {
  margin-top: 5px;
  width: 125px;
}

.passinput {
    margin-top: 5px;
    border-radius: 5px;
}

.accountsbutton {
  width: 175px;
  margin: 5px 5px 0 5px;
  border-radius: 5px;
}

p {
  text-align: center;
}

body {
  background-color: rgb(19, 30, 79);
  transition: background-color 1s;
  background-blend-mode: multiply;
}

body:hover {
    background-color: $primary-color;
}


.signmessage {
  color: white;
}

.box {
  font-weight: 900;
  font-size: 100px;
  display: flex;
  font-size: 12vh;
  justify-content: center;
  min-height: calc(90% / 3);
  align-items: center;
  border-bottom: solid $primary-color 10px;
  border-right: solid $primary-color 10px;
  color: $primary-color;
  &:nth-child(3n) {
    border-right: 0;
}

  &:nth-last-child(-1n + 3) {
    border-bottom: 0;
  }
}

.col-sm {
  color: blue;
  font-size: 25px;
  text-align: center;
}

.newgame {
  margin: auto;
}

.gamearea {
  margin: auto;
  max-height: 90vh;
  max-width: 90vh;
  width: 90%;
}

.gameboard {
  max-height: 90%;
  margin-top: 7vh;
  display: flex;
  flex-wrap: wrap;
}


.signInError {
  margin-top: 10px;
  height: 5px;
  font-size: 10px;
  font-weight: 700;
  color: rgb(140, 39, 39);
}

.displayMessage {
  height: 10px;
  color: $primary-color;
}

#loginForms {
  text-align: center;
}

.gamebuttons {
  text-align: center;
  margin: 0px 10px 0 10px;
}

.gb {
  background-color: $primary-color;
  color: white;
}

.signUpButton, .backtoLogin {
  border-radius: 5px;
  margin-top: 7px;
}

#signUpForm {
  text-align: center;
}

#sign-in, .accounts, #sign-up {
  height: 65vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.sign-in-form {
  margin-top: 10px;
  width: 200px;
}

.sign-up-form {
  margin-top: 10px;
}

#statsToAccount {
  width: 100px;
  margin: auto;
}

.sign-in-button {
  border-radius: 5px;
  margin-top: 15px;
  width: 100px;
}

.sign-up-button {
  border-radius: 5px;
  margin-top: 7px;
}
